
header {
   
    width: 100%;
    height: auto;
    padding: 2%;
    margin: auto;
    background-image: url('../images/sunset1.jpg');
	background-repeat: no-repeat;
	background-size: 100%;
    

    @media @mobile {
        background-image: none;
        /*logo here*/
    }
    

        // img {
        //     height: 200px;
        //     width: 800px;
        // }
    
    nav {
     .display(space-evenly, center);
       padding-top: 2%;
     
        @media @mobile {
			display: flex;
			flex-flow: column-reverse wrap;
			align-content: center;
            margin: auto;
            
			}
    
     a {
         text-decoration: none;
         color: #ececff;
         margin-top: 4%;
         width: 100px;

         .button();
         

         @media @mobile {
			border-bottom: 1px solid black;
			width: 100%;
			text-align: center;
            padding: 2% 0;
            color: black;

		}

     }
    } 
};