
header {
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    width: 90%;
    margin: auto;

    
    nav {
     
        @media (@mobile) {
			display: flex;
			flex-flow: column-reverse wrap;
			align-content: center;
			margin: auto;
			}
    
     a {
         text-decoration: none;
         border: 1px solid black;
         border-radius: 10%;
         padding: 2%;
         color: black;
         background: lightcoral;

         @media (@mobile) {
			border-bottom: 1px solid black;
			width: 100%;
			text-align: center;
			padding: 2% 0;

		}

     }
    } 
};