
#options-container {
   display: flex;
   flex-direction: column;
   margin: auto;
   padding: 2% 0;
}
    .content {
        width: 70%;
        // justify-content: center;
        // align-items: center;
        // min-height: 5em;
        // margin-bottom: .5rem;
        width: 400px;
        height: 200px;
        text-align: center;
        margin: auto;
        
   } 

   .content img {
       max-width: 100%;
       max-height: 100%;
   }
        
   .region {
    //    border-radius: 50%;
    //    padding-top: 2%;
    //    width: 400px;
    //    height: 200px;
       margin-left: 25%;
   }
       
   .climate {
       margin-left: 60%;
   }
    
   .budget {
       margin-left: 15%;

   }

   .ammenities {
       margin-left: 50%;
   }
    
    
    
    









