/*--colors---*/

@sunset: #d2691e;
@midnight: #663399;
@light-sunset: #e77727;
@mauvish: #944875;
@burnt: #e0900a;
@light-violet: #ececff;
@seafoam: #d8e6e3;
/*---Media Queries---*/


@tablet: ~'(max-width: 800px)';
@mobile: ~'(max-width: 500px)';