/*--colors---*/
/*---Media Queries---*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
  border-radius: 50%;
}
@media (max-width: 800px) {
  * {
    box-sizing: border-box;
    border-radius: 0;
  }
}
@media (max-width: 500px) {
  * {
    box-sizing: border-box;
    border-radius: 50%;
  }
}
body {
  background-color: seafoam;
}
html,
body {
  margin: auto;
  width: 90%;
  padding: 0.5%;
  font-family: 'Raleway', sans-serif;
}
h1 {
  text-align: center;
  font-size: 5rem;
  color: #ececff;
}
@media (max-width: 800px) {
  h1 {
    display: flex;
    font-size: 1.75rem;
  }
}
@media (max-width: 500px) {
  h1 {
    font-size: 5rem;
    color: black;
  }
}
h1,
h2,
h3,
a {
  font-family: 'Pacifico', cursive;
}
h2 {
  font-size: 1.5rem;
}
#main-container {
  background-color: #ececff;
}
ul {
  display: flex;
  justify-content: space-around;
  text-decoration: underline;
}
header {
  width: 100%;
  height: auto;
  padding: 2%;
  margin: auto;
  background-image: url('../images/sunset1.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
}
@media (max-width: 800px) {
  header {
    width: 100%;
    padding: 0;
    display: flex;
  }
  header h1 {
    color: whitesmoke;
  }
}
@media (max-width: 500px) {
  header {
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    margin: auto;
    background-image: url('../images/buildWeekLogo.png');
    background-repeat: no-repeat;
    object-fit: scale-down;
    /*logo here*/
  }
  header h1 {
    color: black;
  }
}
header nav {
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  padding-top: 2%;
}
@media (max-width: 800px) {
  header nav {
    width: 100%;
    padding: 0;
  }
}
@media (max-width: 500px) {
  header nav {
    padding-top: 15%;
    display: flex;
    flex-flow: column-reverse wrap;
    align-content: center;
    margin: auto;
  }
}
header nav a {
  text-decoration: none;
  color: #ececff;
  margin-top: 4%;
  padding-bottom: 2%;
  width: 100px;
  transition: background-color 1s ease-out;
  text-align: center;
}
header nav a:hover {
  background: #f17907;
}
@media (max-width: 800px) {
  header nav a {
    width: 100%;
    color: whitesmoke;
  }
}
@media (max-width: 500px) {
  header nav a {
    text-decoration: underline;
    width: 100%;
    padding-bottom: 2%;
    text-align: center;
    padding: 2% 0;
    color: black;
  }
}
/*--Center-Container---*/
#center-container {
  display: flex;
  justify-content: space-around;
  padding: 0 2%;
  /*---Left Box---*/
  /*----Middle Box---*/
  /*---Right Box----*/
}
@media (max-width: 800px) {
  #center-container {
    flex-direction: column;
  }
}
@media (max-width: 500px) {
  #center-container {
    flex-direction: column;
    background-color: #e0900a;
  }
}
#center-container #sidebar {
  display: flex;
  flex-direction: column;
  justify-content: column;
}
@media (max-width: 800px) {
  #center-container #sidebar {
    flex-direction: column;
  }
}
@media (max-width: 500px) {
  #center-container #sidebar {
    flex-direction: column;
  }
}
#center-container #leftBox {
  padding: 0.5%;
  width: 300px;
  box-shadow: inset 0 0 0 1000px #944875;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
@media (max-width: 800px) {
  #center-container #leftBox {
    display: none;
  }
}
@media (max-width: 500px) {
  #center-container #leftBox {
    display: none;
  }
}
#center-container #leftBox #leftBox1 img {
  max-width: 100%;
  max-height: 100%;
}
#center-container #leftBox #leftBox2 img {
  max-width: 100%;
  max-height: 100%;
}
#center-container #middleBoxes {
  display: flex;
  flex-flow: column;
  margin: auto;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  padding: 5%;
  line-height: 30px;
}
#center-container #middleBoxes h2 {
  text-align: center;
}
@media (max-width: 800px) {
  #center-container #middleBoxes {
    flex-direction: column;
    width: 100%;
  }
}
@media (max-width: 500px) {
  #center-container #middleBoxes {
    width: 90%;
  }
}
#center-container #rightBox {
  margin-top: 2rem;
  margin-bottom: 0.5rem;
  width: 400px;
  height: 200px;
  text-align: center;
  border: 1px solid darkslategrey;
  box-shadow: inset 0 0 0 1000px #944875;
}
#center-container #rightBox .form_label {
  margin: auto;
}
@media (max-width: 800px) {
  #center-container #rightBox .form_label {
    padding-bottom: 0;
  }
}
@media (max-width: 800px) {
  #center-container #rightBox {
    border-radius: 15%;
    flex-direction: column;
    width: 50%;
    margin: auto;
    margin-bottom: 0.75rem;
  }
}
@media (max-width: 500px) {
  #center-container #rightBox {
    width: 100%;
    border-radius: 50%;
  }
}
.developers {
  text-align: center;
  margin: 1rem 1rem;
  width: 100%;
}
img.logo {
  display: none;
}
.ui {
  text-align: left;
  margin: 1rem 0;
}
.ui .ui-title {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
}
.footabout {
  margin-top: 1rem;
}
.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 52rem;
  margin: 10px 0;
  width: 95%;
}
.card__side {
  height: 52rem;
  transition: all 0.8s ease;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  backface-visibility: hidden;
  border-radius: 0.3rem;
  overflow: hidden;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
}
.card__side--front {
  background-color: white;
}
.card__side--back {
  transform: rotateY(180deg);
}
.card__side--back-1 {
  background-image: radial-gradient(ellipse at center, #268026 20%, #205564);
}
.card__side--back-2 {
  background-image: radial-gradient(ellipse at center, #008B8B 20%, #103A9B);
}
.card__side--back-3 {
  background-image: radial-gradient(ellipse at center, #663399 25%, #3A2EFF);
}
.card__side--back-4 {
  background-image: radial-gradient(#9240FB, #FB2FF2);
}
.card__side--back-5 {
  background-image: radial-gradient(#228B22, #1D5B6C);
}
.card__side--back-6 {
  background-image: radial-gradient(#1E90FF, #241CBB);
}
.card:hover .card__side--front {
  transform: rotateY(-180deg);
}
.card:hover .card__side--back {
  transform: rotateY(0);
}
.card__picture {
  background-size: cover;
  height: 20rem;
  background-blend-mode: multiply;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  border-top-left-radius: 0.3rem;
  border-top-right-radius: 0.3rem;
}
.card__picture--1 {
  background: #268026;
}
.card__picture--2 {
  background: #008B8B;
}
.card__picture--3 {
  background: #663399;
}
.card__picture--4 {
  background: #9240FB;
}
.card__picture--5 {
  background: #228B22;
}
.card__picture--6 {
  background: #1E90FF;
}
.card__heading {
  font-size: 2.8rem;
  font-weight: 300;
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  text-align: center;
  color: white;
  position: absolute;
  top: 8rem;
  width: 100%;
}
.card__heading-span {
  padding: 1rem 1.5rem;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}
.card__heading-span--1 {
  background: #268026;
}
.card__heading-span--2 {
  background: #008B8B;
}
.card__heading-span--3 {
  background: #663399;
}
.card__heading-span--4 {
  background: #9240FB;
}
.card__heading-span--5 {
  background: #228B22;
}
.card__heading-span--6 {
  background: #1E90FF;
}
.card__details {
  padding: 4.5rem;
}
.card__details img {
  clip-path: circle(50% at 50% 50%);
  margin-top: 5rem;
}
.card__full {
  margin: 8rem auto;
  width: 90%;
  text-align: center;
  font-family: 'Raleway', sans-serif;
}
.card p {
  color: white;
  font-size: 1.8rem;
  padding: 2rem;
}
.card .card_nav {
  width: 100%;
  text-align: center;
  font-family: 'Raleway', sans-serif;
}
.card a {
  margin: 0 50px;
  text-decoration: none;
  color: white;
  font-size: 1.8rem;
}
#options-container {
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 2% 0;
}
.content {
  width: 70%;
  width: 400px;
  height: 200px;
  text-align: center;
  margin: auto;
}
.region {
  padding-top: 1%;
  margin-left: 25%;
  background-image: url('../images/map-w-pins.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
}
.climate {
  padding-top: 1%;
  margin-left: 60%;
  background-image: url('../images/yurts.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
  color: #d8e6e3;
}
.budget {
  padding-top: 1%;
  margin-left: 15%;
  background-image: url('../images/coins.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
  color: #d8e6e3;
}
.ammenities {
  padding-top: 1%;
  margin-left: 50%;
  background-image: url('../images/continental-breakfast.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
}
.form2 {
  padding-top: 15%;
}
input[type='text'] {
  border-radius: 0;
}
input[type='button'] {
  border-radius: 0;
}
.form {
  margin: auto;
  padding: 10px;
}
.form .form_label {
  font-size: 15px;
  font-weight: bold;
  color: white;
  text-decoration: underline;
}
.form input[type="text"],
input[type="password"] {
  border-radius: 0.5%;
  font-size: 1rem;
  padding-left: 5px;
}
.form input[type="submit"] {
  border: none;
  border-radius: 0.7%;
  font-size: 1rem;
  background-color: #7F8C8D;
  border-bottom: 3px solid #616A6B;
  color: white;
  font-weight: bold;
  transition: background-color 1s ease-in;
}
.form input[type="submit"]:hover {
  background: black;
  transform: scale(1.2) perspective(1px);
}
footer {
  width: 100%;
  background: #d2691e;
  border-top: 1px solid darkslategrey;
  text-align: center;
  padding: 0.5%;
}
footer nav {
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  padding: 1%;
}
@media (max-width: 500px) {
  footer nav {
    display: flex;
    flex-flow: column-reverse wrap;
    align-content: center;
    margin: auto;
    background-color: #663399;
  }
}
footer a {
  text-decoration: none;
  color: #ececff;
  transition: background-color 1s ease-out;
  text-align: center;
}
footer a:hover {
  background: #f17907;
}
@media (max-width: 500px) {
  footer a {
    text-decoration: underline;
    width: 100%;
    text-align: center;
    padding: 2% 0;
    color: black;
  }
}
@media (max-width: 500px) {
  footer p {
    font-size: 10px;
  }
}
