/*--colors---*/
/*---Media Queries---*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html,
body {
  margin: auto;
  width: 90%;
  padding: 0.5%;
  font-family: 'Raleway', sans-serif;
}
h1 {
  text-align: center;
  font-size: 5rem;
  color: #ececff;
}
@media (max-width: 500px) {
  h1 {
    color: black;
  }
}
h1,
h2,
h3,
a {
  font-family: 'Pacifico', cursive;
}
#main-container {
  background-color: #ececff;
}
header {
  width: 100%;
  height: auto;
  padding: 2%;
  margin: auto;
  background-image: url('../images/sunset1.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
}
@media (max-width: 500px) {
  header {
    background-image: none;
    /*logo here*/
  }
}
header nav {
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  padding-top: 2%;
}
@media (max-width: 500px) {
  header nav {
    display: flex;
    flex-flow: column-reverse wrap;
    align-content: center;
    margin: auto;
  }
}
header nav a {
  text-decoration: none;
  color: #ececff;
  margin-top: 4%;
  width: 100px;
  transition: background-color 1s ease-out;
  border-radius: 10%;
  text-align: center;
}
header nav a:hover {
  background: #f17907;
}
@media (max-width: 500px) {
  header nav a {
    border-bottom: 1px solid black;
    width: 100%;
    text-align: center;
    padding: 2% 0;
    color: black;
  }
}
/*--Center-Container---*/
#center-container {
  display: flex;
  justify-content: space-around;
  /*---Left Box---*/
  /*----Middle Box---*/
  /*---Right Box----*/
}
#center-container #sidebar {
  display: flex;
  flex-direction: column;
  justify-content: column;
}
#center-container #leftBox {
  padding: 0.5%;
  width: 300px;
  height: 200px;
  box-shadow: inset 0 0 0 1000px #c591b0;
  border: 1px solid darkslategrey;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
#center-container #leftBox #leftBox1 .cpl {
  object-fit: scale-down;
}
@media (max-width: 800px) {
  #center-container #leftBox {
    flex-direction: column;
  }
}
@media (max-width: 500px) {
  #center-container #leftBox {
    flex-direction: column;
    width: 100%;
  }
}
#center-container #middleBoxes {
  display: flex;
  flex-flow: column;
  margin: auto;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  padding: 5%;
  line-height: 30px;
}
#center-container #middleBoxes h2 {
  text-align: center;
}
@media (max-width: 500px) {
  #center-container #middleBoxes {
    width: 90%;
  }
}
#center-container #rightBox {
  display: flex;
  flex-direction: column;
  justify-content: column;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  width: 400px;
  height: 200px;
  text-align: center;
  border: 1px solid darkslategrey;
  box-shadow: inset 0 0 0 1000px #c591b0;
}
#center-container #rightBox .form_label {
  margin: auto;
}
@media (max-width: 500px) {
  #center-container #rightBox {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 90%;
  }
}
.form {
  margin: auto;
  padding: 10px;
}
.form .form_label {
  font-size: 15px;
  font-weight: bold;
  color: white;
  text-decoration: underline;
}
.form input[type="text"],
input[type="password"] {
  border-radius: 0.5%;
  font-size: 1rem;
  padding-left: 5px;
}
.form input[type="submit"] {
  border: none;
  border-radius: 0.7%;
  font-size: 1rem;
  background-color: #7F8C8D;
  border-bottom: 3px solid #616A6B;
  color: white;
  font-weight: bold;
  transition: background-color 1s ease-in;
}
.form input[type="submit"]:hover {
  background: black;
  transform: scale(1.2) perspective(1px);
}
footer {
  width: 100%;
  background: #d2691e;
  border-top: 1px solid darkslategrey;
  text-align: center;
  padding: 0.5%;
}
footer nav {
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  padding: 1%;
}
@media (max-width: 500px) {
  footer nav {
    display: flex;
    flex-flow: column-reverse wrap;
    align-content: center;
    margin: auto;
  }
}
footer a {
  text-decoration: none;
  color: #ececff;
  transition: background-color 1s ease-out;
  border-radius: 10%;
  text-align: center;
}
footer a:hover {
  background: #f17907;
}
@media (max-width: 500px) {
  footer a {
    border-bottom: 1px solid black;
    width: 100%;
    text-align: center;
    padding: 2% 0;
    color: black;
  }
}
